<h2>All Users</h2>
<ul>
    {{#each users}}
        <li>{{nombre}} - {{apellido}} - {{ email }}
            <!-- Botón para eliminar -->
            <form action="/api/user/deleteUser/{{_id}}?_method=delete" method="POST">
                <button type="submit">Eliminar</button>
            </form>
            <!-- Botón para editar -->
            <form action="/api/user/update/{{_id}}" method="GET">
                <button type="submit">Editar</button>
            </form>
        </li>
    {{/each}}
</ul>
