<h2>Update Product</h2>
<form action="/api/product/update/{{product._id}}?_method=put" method="post">
  <label for="name">Nombre del producto</label>
  <input type="text" id="name" name="name" value="{{product.name}}">
  <br>
  <label for="price">Precio</label>
  <input type="number" id="price" name="price" value="{{product.price}}">
  <br>
  <label for="description">Descripcion</label>
  <textarea name="description" id="description" name="description">{{product.description}}</textarea>
  <br>
  <label for="quantity">Cantidad</label>
  <input type="number" id="quantity" name="quantity" value="{{product.quantity}}">
  <br>
  <label for="status">Estado</label>
  <select name="status" id="status">
    <option value="" disabled selected>Seleccionar</option>
    <option value="AVAILABLE" {{#eq product.status "AVAILABLE"}} selected {{/eq}}>Disponible</option>
    <option value="NOT AVAILABLE" {{#eq product.status "NOT AVAILABLE"}} selected {{/eq}}>No disponible</option>
    <option value="DISCONTINUED" {{#eq product.status "DISCONTINUED"}} selected {{/eq}}>Discontinuado</option>
  </select>
  <br>
  <label for="category">Categoria</label>
  <select name="category" id="category">
    <option value="" disabled selected>Seleccionar</option>
    <option value="662aaa37a20d90ca19063432" {{#eq productCatId "662aaa37a20d90ca19063432"}} selected {{/eq}}>Zapatillas</option>
    <option value="662aaa48a20d90ca19063436" {{#eq productCatId "662aaa48a20d90ca19063436"}} selected {{/eq}}>Pantalon de vestir</option>
    <option value="662aaa4fa20d90ca19063438" {{#eq productCatId "662aaa4fa20d90ca19063438"}} selected {{/eq}}>Short de baño</option>
    <option value="662aaea21758cd51c79d35f8" {{#eq productCatId "662aaf30aa3f6febd3efdae8"}} selected {{/eq}}>Auto</option>
  </select>
  <br>
  <label for="destacado">Destacado</label>
  <select name="destacado" id="destacado">
    <option value="" disabled selected>Seleccionar</option>
    <option value="true" {{#eq product.destacado true}} selected {{/eq}}>Destacado</option>
    <option value="false" {{#eq product.destacado false}} selected {{/eq}}>No destacado</option>
  </select>
  <br>
  <button type="submit">Enviar</button>
  <button type="reset">Resetear</button>
</form>